<div class = "col-sm-9">

<h2>Editar equipamento nยบ <%= @equipment.num_id %><small><span class="pull-right"><%= render 'arrows' %></span></small></h2>
<hr>
<%= render 'form' %>

</div>
<div class="col-sm-3">
  <%= render 'side' %>
</div>


