<div class = "col-sm-9">

<h2>Lista de fábricas</h1>

<div class="col-sm-8">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Morada</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.name %></td>
        <td><%= plant.address %></td>
        <td><%= link_to 'Editar', edit_plant_path(plant), :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div><!-- /col-sm-9 -->

<div class="col-sm-3">
  <%= render 'side' %>
</div>
<br>
