<div class = "col-sm-9">

<div class="row">
  <div class="col-sm-8">
    <p><strong>Nome: </strong><%= @plant.name %></p>
    <p><strong>Morada: </strong><%= @plant.address %></p>
  </div>
</div>

</div><!-- /col-sm-9 -->

<div class="col-sm-3">
    <%= render 'side' %>
</div><!--/col-sm-3-->
