<div class = "span9">

<div class="row">
  <div class="span6">
    <p><strong>Nome: </strong><%= @plant.name %></p>
    <p><strong>Morada: </strong><%= @plant.address %></p>
  </div>
</div>

</div><!-- span9 -->

<div class="span3">
    <%= render 'side' %>
</div><!--/span3-->
