<div class = "span9">

<h2>Editar tarefa <small>Equipamento nยบ <%= Equipment.find(@maintask.equipment_id).num_id %><span class="pull-right"><%= render 'arrows' %></small></h2>

<%= render 'form' %>

</div>
<div class="span3">
  <%= render 'side' %>
</div><!--/span-->
