<div class = "span9">

<div class="row">
  <div class="span6">
    <p><strong>Name: </strong><%= @intervention_type.name %></p>
    <p><strong>Observações: </strong><%= @intervention_type.obs %></p>
  </div>
</div>

</div><!-- span9 -->

<div class="span3">
    <%= render 'side' %>
</div><!--/span3-->
