<div class = "col-sm-9">

<div class="row">
  <div class="col-sm-10">
    <p><strong>Nome: </strong><%= @intervention_type.name %></p>
    <p><strong>Observações: </strong><%= @intervention_type.obs %></p>
  </div>
</div>

</div><!-- /col-sm-9 -->

<div class="col-sm-3">
    <%= render 'side' %>
</div><!--/col-sm-3-->
