<div class = "col-md-9">

<h2>Editar intervenção <small>Equipamento nº <%= Equipment.find(@intervention.equipment_id).num_id %><span class="pull-right"><%= render 'arrows' %></span></small></h2>

<%= render 'form' %>

</div>
<div class="col-md-3">
  <%= render 'side' %>
</div><!--/span-->


