<div class="row">
  <div class = "span9">

<h1>Nova Intervenção</h1>

<%= render 'form' %>

</div>
  <div class="span3">
    <div class="well sidebar-nav">
        <h3>Equipamentos</h3>
        <hr>
        <p><%= link_to 'Voltar', equipment_path(@equipment), :class => 'btn btn-default' %></p>
        <hr>
    </div><!--/.well -->
  </div><!--/span-->
</div><!-- row -->
